
<div class="comment">
    <div class='comment-author'>
        <%=link_to image_tag(comment.user.profile_pic.url, class:"profile-pic"), username_path(comment.user.username) %>
        <h3><%= comment.user.username%></h3>
    </div>
    <div class="comment-content">
        <%=simple_format comment.content%>
    </div>
</div>
