
<div class = "feed-container user-show">
    <div class = "user-info">

        <%=image_tag(@public_user.profile_pic.url, class:"profile-pic") %>
        <h1><%=@public_user.username.capitalize%></h1>
        
    </div>
    <main class="feed">
        <%= render @posts, has_limit: true, from_js: false%>
    </main>
    <aside class="friend-list">
        <%= render "shared/friends"%>
    </aside>

</div>
