
<div class = "feed-container">
    <div class = "post-form">
        <%= render 'shared/post_form'%>
    </div>
    <main class="feed">
        <%= render @posts%>
    </main>
    <aside class="friend-list">
        <%= render 'shared/friends'%>
    </aside>

</div>
