
    <header class = "main-header">
        <div class = "logo">
            <%= link_to image_tag("RoleandingLogo.svg", class: "logo"), root_path %>  
        </div>
        <% if user_signed_in? %>
            <div class="user-functions">
                <%= render 'user_functions'%>
            </div>
        <% else %>
            <div class="login">
                <%= render 'login'%>
            </div>
        <% end %>
        
            
    </header>