// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #FF0000;
$deep-blue: #161032;
$yellow: #FAFF81;
$light-orange: #FFC53A;
$orange: #E06D06;
$light-brown: #B26700;
$facebook-blue: #003AAB;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: linear-gradient(to bottom , $yellow, $light-orange);
    background-attachment: fixed;
    background-size: contain;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    .main-header{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 25px;
//---Login form-------------------------------------------------------------------
        .login{
            width: 60%;
            
            background: $deep-blue;
            color: white;
            display: flex;
            align-items: center;
            border-radius: 20vh;

            form{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-around;
                font-size: 35px;
                input[type=email], input[type=password]{
                    font-size: 20px;
                    outline: none;
                    border:0;
                    border-radius: 25vh;
                    margin-left: 10px;
                    text-align: left;
                    padding: 5px 20px;

                }

                input[type=submit]{
                    font-size: 20px;
                    border: 0;
                    cursor: pointer;
                    padding: 5px 15px;

                    background: $yellow;
                    color: $deep-blue;

                }
                .field{
                    display: flex;
                    align-items: center;

                }
            }
        }
    }
//-Signup form-----------------------------------------------------------------------
    .main{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15vh;
        grid-template-rows: 75.7vh;
        padding: 0 40px;
        .signup{
            
            background: $deep-blue;
            color: white;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 3vh;
            .look-at-me-text{
                h1{
                    font-size: 60px;
                }
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 0;
                
            }
            .sign-up-with-facebook{
                facebook{
                    color: $facebook-blue;
                    font-weight: bold;
                }
                font-size: 40px;
                text-decoration: none;
                color: $deep-blue;
                background: $yellow;
                padding: 10px 20px;
                border-radius: 50vh;
            }
            .or{
                font-size: 40px;
            }
            .signup-form{
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:flex-end ;
                .field{
                    font-size: 40px;
                    input[type=text], input[type=password], input[type=email]{
                        font-size: 25px;
                        margin-left: 22px;
                        border: 0;
                        border-radius: 1vh;
                        outline: none;
                        text-align: center;
                        padding: 10px 5vh;
                    }
                }
                .password-confirmation{
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                .signup-button{
                    border: 0;
                    font-size: 30px;
                    padding: 10px;
                    border-radius: 10vh;
                    color: $deep-blue;
                    background: $yellow;
                    cursor: pointer;
                }

            }
        }

    }
//----White box text-----------------------------------------------------------------
    .main{
        .presentation-text{
            background: white;
            padding: 15px 40px;
            border-radius: 3vh;
            h1{
                font-size: 49px;
                margin-bottom: 24px;
            }
            .list-text{
                font-size: 30px;
                .description-text{
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        margin-bottom: 35px;
                        .material-icons{
                            color: $orange;
                            font-size: 30px
                        }
                        .red{
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    
    .user-functions{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .function{
            height: 110px;
            width: 110px;
            background: $deep-blue;
            
            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;

            border-radius: 100%;
            transition: 1s;
            &:hover{
                background: $light-orange;
                transition: .30s;
            }
            i{
                font-size: 100px;
                color: white;
            }
            
        }

    }
    .feed-container{
        
        width: 95%;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "form-post form-post"
                             "friends feed";
        grid-column-gap: 40px; 
        .feed{
            grid-area: feed;
        }
        .friend-list{
            grid-area: friends;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 35px;
            border-radius: 3vh;
            
            .friend{
                height: 70px;
                width: 40%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 87px;
                p{
                    font-size: 25px;
                }
                .profile-pic{
                    width: 71px;
                }
            }
            h1{
                align-self: center;
                justify-self: flex-start;
                font-size: 50px;
                margin-bottom: 65px;
            }
        }
        .post-form{
            grid-area: form-post;
        }
        form{
            display: flex;
            flex-direction: column;
            
            input[type=text]{
                width: 100%;
                height: 120px;
                border: 0;
                border-radius: 3vh;
                font-size: 40px;
                padding: 10px 30px;
                outline: none;
            }
            .left{
                margin-top: 20px;
                align-self: flex-end;
                background: white;
                padding: 8px 15px;
                border-radius: 2vh;
                button{
                    border: 0;
                    background: (0,0,0,0);
                    cursor: pointer;
                    outline: none;
                }
                i{
                    font-size: 64px;   
                    
                }
                .insert-photo i{
                    color: $light-orange;
                }
                .create-post i{
                    color: $light-brown;
                    transform: rotate(-90deg)
                }
            }
        }
    }
}