// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #FF0000;
$deep-blue: #161032;
$yellow: #FAFF81;
$light-orange: #FFC53A;
$orange: #E06D06;
$light-brown: #B26700;
$facebook-blue: #003AAB;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: linear-gradient(to bottom , $yellow, $light-orange);
    background-attachment: fixed;
    background-size: contain;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    .main-header{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 25px;
//---Login form-------------------------------------------------------------------
        .login{
            width: 60%;
            
            background: $deep-blue;
            color: white;
            display: flex;
            align-items: center;
            border-radius: 20vh;

            form{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-around;
                font-size: 35px;
                input[type=email], input[type=password]{
                    font-size: 20px;
                    outline: none;
                    border:0;
                    border-radius: 25vh;
                    margin-left: 10px;
                    text-align: left;
                    padding: 5px 20px;

                }

                input[type=submit]{
                    font-size: 20px;
                    border: 0;
                    cursor: pointer;
                    padding: 5px 15px;

                    background: $yellow;
                    color: $deep-blue;

                }
                .field{
                    display: flex;
                    align-items: center;

                }
            }
        }
    }
//-Signup form-----------------------------------------------------------------------
    .main{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15vh;
        grid-template-rows: 75.7vh;
        padding: 0 40px;
        .signup{
            
            background: $deep-blue;
            color: white;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 3vh;
            .look-at-me-text{
                h1{
                    font-size: 60px;
                }
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 0;
                
            }
            .sign-up-with-facebook{
                facebook{
                    color: $facebook-blue;
                    font-weight: bold;
                }
                font-size: 40px;
                text-decoration: none;
                color: $deep-blue;
                background: $yellow;
                padding: 10px 20px;
                border-radius: 50vh;
            }
            .or{
                font-size: 40px;
            }
            .signup-form{
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:flex-end ;
                .field{
                    font-size: 40px;
                    input[type=text], input[type=password], input[type=email]{
                        font-size: 25px;
                        margin-left: 22px;
                        border: 0;
                        border-radius: 1vh;
                        outline: none;
                        text-align: center;
                        padding: 10px 5vh;
                    }
                }
                .password-confirmation{
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                .signup-button{
                    border: 0;
                    font-size: 30px;
                    padding: 10px;
                    border-radius: 10vh;
                    color: $deep-blue;
                    background: $yellow;
                }

            }
        }

    }
//----White box text-----------------------------------------------------------------
    .main{
        .presentation-text{
            background: white;
            padding: 15px 40px;
            border-radius: 3vh;
            h1{
                font-size: 49px;
                margin-bottom: 24px;
            }
            .list-text{
                font-size: 30px;
                .description-text{
                    margin-bottom: 20px;
                }
                ul{
                    li{
                        margin-bottom: 35px;
                        .material-icons{
                            color: $orange;
                            font-size: 30px
                        }
                        .red{
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}